html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

a {
  color: #1eaedb;
}
a:hover {
  color: #1b9cc5;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}
p {
  margin-top: 0;
}

.btn {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #3f51b5;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}
.btn:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}

.bg-primary {
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.bg-primary:hover {
  color: #33c3f0;
  background-color: #ffffff;
  border-color: #33c3f0;
}
.bg-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #33c3f0;
}

.bg-secondary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.bg-secondary:hover {
  color: #3f51b5;
  background-color: #ffffff;
  border-color: #3f51b5;
}
.bg-secondary:focus {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.bg-red {
  background-color: #ff0000;
  border-color: #ff0000;
}
.bg-red:hover {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
}
.bg-red:focus {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.bg-green {
  background-color: #008000;
  border-color: #008000;
}
.bg-green:hover {
  color: #008000;
  background-color: #ffffff;
  border-color: #008000;
}
.bg-green:focus {
  color: #fff;
  background-color: #008000;
  border-color: #008000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: #ffffff;
}

.border-primary {
  border: 1px solid #33c3f0;
}
.border-primary:hover {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.border-primary:focus {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

.border-secondary {
  border: 1px solid #33c3f0;
}
.border-secondary:hover {
  color: #ffffff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.border-secondary:focus {
  color: #ffffff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.border-red {
  border: 1px solid #ff0000;
}
.border-red:hover {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.border-red:focus {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.border-green {
  border: 1px solid #008000;
}
.border-green:hover {
  color: #ffffff;
  background-color: #008000;
  border-color: #008000;
}
.border-green:focus {
  color: #ffffff;
  background-color: #008000;
  border-color: #008000;
}

.text-white {
  color: #ffffff;
}

.text-primary {
  color: #33c3f0;
}

.text-secondary {
  color: #3f51b5;
}

.text-red {
  color: #ff0000;
}

.text-green {
  color: #008000;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul, ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.style-guideline {
  padding: 50px 0;
}
.style-guideline .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*# sourceMappingURL=app.css.map */
