// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}

// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;  }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;       }

// Larger than phablet
@media (#{$bp-sm}) {
  h1 { font-size: 2.0rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1rem; }
  h6 { font-size: 1rem; }
}

p {
  margin-top: 0;
}

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//ONLY FOR STYLE GUIDELINE IF USING BOOTSTRAP THIS WILL NOT INCLUDE
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.btn{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;

  &:hover{
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
  &:focus{
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
}
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//ONLY FOR STYLE GUIDELINE IF USING BOOTSTRAP THIS WILL NOT INCLUDE
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

//button forbackground primary-color
.bg-primary{
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover{
    color: $primary-color;
    background-color: $white;
    border-color: $primary-color;
  }

  &:focus{
    color: #fff;
    background-color: $link-color;
    border-color: $primary-color;
  }
}

//button for background secondary-color
.bg-secondary{
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:hover{
    color: $secondary-color;
    background-color: $white;
    border-color: $secondary-color;
  }

  &:focus{
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.bg-red{
  background-color: $red;
  border-color: $red;

  &:hover{
    color: $red;
    background-color: $white;
    border-color: $red;
  }

  &:focus{
    color: #fff;
    background-color: $red;
    border-color: $red;
  }
}

.bg-green{
  background-color: $green;
  border-color: $green;

  &:hover{
    color: $green;
    background-color: $white;
    border-color: $green;
  }

  &:focus{
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  background-color: $white;
}

.border-primary{
  border: 1px solid $primary-color;

  &:hover{
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &:focus{
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.border-secondary{
  border: 1px solid $primary-color;

  &:hover{
    color: $white;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  &:focus{
    color: $white;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.border-red{
  border: 1px solid $red;

  &:hover{
    color: $white;
    background-color: $red;
    border-color: $red;
  }

  &:focus{
    color: $white;
    background-color: $red;
    border-color: $red;
  }
}

.border-green{
  border:1px solid $green;

  &:hover{
    color: $white;
    background-color: $green;
    border-color: $green;
  }

  &:focus{
    color: $white;
    background-color: $green;
    border-color: $green;
  }
}

//button for blue-color
.text-white{
  color: $white;
}
.text-primary{
  color: $primary-color;
}
.text-secondary{
  color: $secondary-color;
}
.text-red{
  color: $red;
}
.text-green{
  color: $green;
}

// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid $light-grey;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: lighten($light-grey, 6.4%);
  border: 1px solid $light-grey;
  border-radius: $global-radius;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
