// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: #3f51b5 !default;
$red: #ff0000 !default;
$yellow: #ffff00 !default;
$green: #008000 !default;
$white: #ffffff !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;


// Breakpoints
$bp-xs	: "max-width: 500px" !default;
$bp-sm  : "max-width: 768px" !default;
$bp-md  : "max-width: 991px" !default;
$bp-lg  : "max-width: 1200px" !default;
$bp-xl  : "max-width: 1400px" !default;
